spa-backend/dist/
.vscode/
spa-backend/node_modules/
serverless-spa/.work/
serverless-spa/elm-stuff/
serverless-spa/dist/
spa-backend/debug.log
client/.work/
client/dist/js/
client/dist/css/
client/elm-stuff/
client/node_modules/
